# Unity
/Studio_Project2_Framework/[Ll]ibrary/
/Studio_Project2_Framework/[Tt]emp/
/Studio_Project2_Framework/[Oo]bj/
/Studio_Project2_Framework/[Bb]uild/
/Studio_Project2_Framework/[Bb]uilds/
dbtojson.js